@using mvcProyectoKeDulce.Modelos.Models
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Lista de Usuarios";
}
<br />
<div class="container mt-5">
    <h2 class="text-center">Lista de Usuarios</h2>
    <div class="row">
        <div class="col-md-12 text-right">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info">
                <i class="fas fa-plus"></i>&nbsp; Registra un nuevo usuario
            </a>
        </div>
    </div>
    <br />
    @if (Model.Any())
    {
        <br />
        <table class="table table-striped table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nombre</td>
                        <td>@item.Email</td>
                        <td>
                            @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                            {
                                <a class="btn btn-success text-white" asp-action="Bloquear" style="width:50px"
                                   asp-route-id="@item.Id">
                                    <i class="fas fa-lock-open"></i>
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-danger text-white" asp-action="Desbloquear" style="width:50px"
                                   asp-route-id="@item.Id">
                                    <i class="fas fa-lock"></i>
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay usuarios registrados.</p>
    }
</div>
